#intro {
    height: calc(100vh - 5rem);
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.bg {
    position: absolute;
    /* top: -4rem; */
    top: 0;
    right: 2vw;
    z-index: -1;
    object-fit: cover;
    height: 100vh;
}

.introContent {
    height: 100vh;
    width: 100vw;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hello {
    font-size: 1.75rem;
    font-weight: 100;
}

.introName {
    color: yellow;
}

.introPara {
    font-size: medium;
    font-weight: 300;
    /* width: 40%; */
}

.btn {
    background: white;
    margin: 1rem 0rem;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 2rem;
}

.btnImg {
    object-fit: cover;
    margin: 0 0.25rem;
    height: 1rem;
}


@media screen and (max-width: 840px) {
    .introContent {
        font-size: 10vw;
        font-size: 8vw;
    }

    .bg {
        right: -5vw;
    }
    
    .hello {
        font-size: 4.5vw;
    }
}

@media screen and (max-width: 480px) {
    .bg {
        right: -5vw
    }
}

@media screen and (max-width: 420px) {
    .bg {
        right: -10vw
    }
}

@media screen and (max-width: 360px) {
    .bg {
        right: -10vw
    }
}


@media screen and (max-width: 300px) {
    .bg {
        right: -25vw
    }
}


/*Extra*/
/* @media screen and (max-width: 350px) {
    .bg {
        right: -50vw;
    }
}

@media screen and (max-width: 400px) {
    #intro {
        right: -5vw;
        bottom: -10vh;
    }
}

@media screen and (max-width: 375px) {
    #intro {
        right: -10vw;
        bottom: -20vh;
    }
}  */