#contactPage {
    min-height: calc(100vh - 5rem);
    width: 100vw;
    max-width: 60rem;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding: 0 1rem; */
}

.contactPageTitle {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.clientDesc {
    font-weight: 300;
    font-size: 1rem;
}

.clientLogos {
    margin: 1rem 0;
    display: flex;
    flex-wrap: wrap;
}

.clientLogo {
    object-fit: cover;
    width: 23%;
    min-width: 9rem;
    margin: auto;
    padding: 0.25rem;
}

#clients {
    padding: 2rem;
}

.contactDesc {
    padding: 1rem;
    font-size: medium;
    font-weight: 300;
}

.contactForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    width: 90vw;
    max-width: 60rem;
}

.contactInput {
    font-size: medium;
    width: 100%;
    max-width: 40rem;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    color: white;
    border: none;
    border-bottom: 0.5rem;
    background: rgb(50,50,50);
}

.contactBtn {
    padding: 0.75rem 3.5rem;
    border: none;
    border-radius: 0.5rem;
    background: white;
    margin: 2rem;
}

.links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}

.link {
    object-fit: cover;
    height: 2rem;
    width: 2rem;
    margin: 0 0.75rem;
}